In [5]:
import os
import glob
import pandas as pd
os.chdir("e_commerce/pert")

In [4]:
cd users/jorellano

/Users/jorellano

In [6]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [7]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "state_grouped.csv", index=False, encoding='utf-8-sig')

/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3214: DtypeWarning: Columns (0,1,2,3,6,9,10,11,12,13,14,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  if (yield from self.run_code(code, result)):
/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

olist_customers_dataset-Copy1.csv      olist_order_reviews_dataset-Copy1.csv
olist_order_items_dataset-Copy1.csv    state_grouped.csv

In [24]:
import pandas as pd 

df = pd.read_csv("state_grouped.csv")

,customer_city,customer_id,customer_state,customer_unique_id,customer_zip_code_prefix,freight_value,order_id,order_item_id,price,product_id,review_answer_timestamp,review_comment_message,review_comment_title,review_creation_date,review_id,review_score,seller_id,shipping_limit_date
0,franca,06b8999e2fba1a1fbc88172c00ba8bc7,SP,861eff4711a542e4b93843c6dd7febb0,14409.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,sao bernardo do campo,18955e83d337fd6b2def6b18a428ac77,SP,290c77bc529b7ac935b93aa66c333dc3,9790.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,sao paulo,4e7b3e00288586ebd08712fdd0374a03,SP,060e732b5b29e8181a18229c7b0b2b5e,1151.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mogi das cruzes,b2b6027bc5c5109e529d4dc6358b12c3,SP,259dac757896d24d7702b9acbbff3f3c,8775.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,campinas,4f2d8ab171c80ec8364f7c12e35b23ad,SP,345ecd01c38d18a9036ed96c73b8d066,13056.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN