In [111]:
import pandas as pd
import numpy as np



df = {'Customer Number': pd.Series(['10002', '552278', '23477', '24900', '651029'], index=[0, 1, 2, 3, 4,]),
      'Customer Name'  : pd.Series(['Quest Industries', 'Smith Plumbing', 'ACME Industrial', 'Brekke LTD', 'Harbor Co'], index =[0, 1, 2, 3, 4]),
      '2016': pd.Series(['$125,000.00', '$920,000.00', '$50,000.00', '$350,000.00', '$15,000.00'], index=[0, 1, 2, 3, 4]),
      '2017': pd.Series(['$162,500.00', '$101,200.00', '$62,500.00', '$490,000.00', '$12,750.00'], index=[0, 1, 2, 3, 4]),
      'Percent Growth': pd.Series(['30.00%', '10.00%', '25.00%', '4.00%', '-15.00%'],index=[0, 1, 2, 3, 4]),
      'Jan Units': pd.Series(['500', '700', '125', '75', 'closed'], index=[0, 1, 2, 3, 4]),
      'Month': pd.Series(['1', '6', '3', '10', '2'], index=[0, 1, 2, 3, 4]),
      'Day': pd.Series(['10','15','29','27','2'], index=[0, 1, 2, 3, 4]),
      'Year': pd.Series(['2015', '2014', '2016', '2015', '2014'], index=[0, 1, 2, 3, 4]),
      'Active' : pd.Series(['Y', 'Y', 'Y', 'Y', 'N'], index=[0, 1, 2, 3, 4])}

df1 = pd.DataFrame(df)

#Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
#"10002.0",Quest Industries,"$125,000.00",$162500.00,30.00%,500,1,10,2015,"Y"
#552278,Smith Plumbing,"$920,000.00","$101,2000.00",10.00%,700,6,15,2014,"Y"
#23477,ACME Industrial,"$50,000.00",$62500.00,25.00%,125,3,29,2016,"Y"
#24900,Brekke LTD,"$350,000.00",$490000.00,4.00%,75,10,27,2015,"Y"
#651029,Harbor Co,"$15,000.00",$12750.00,-15.00%,Closed,2,2,2014,"N"

In [112]:
df1.head()

,Customer Number,Customer Name,2016,2017,Percent Growth,Jan Units,Month,Day,Year,Active
0,10002,Quest Industries,"$125,000.00","$162,500.00",30.00%,500,1,10,2015,Y
1,552278,Smith Plumbing,"$920,000.00","$101,200.00",10.00%,700,6,15,2014,Y
2,23477,ACME Industrial,"$50,000.00","$62,500.00",25.00%,125,3,29,2016,Y
3,24900,Brekke LTD,"$350,000.00","$490,000.00",4.00%,75,10,27,2015,Y
4,651029,Harbor Co,"$15,000.00","$12,750.00",-15.00%,closed,2,2,2014,N

In [113]:
df1['2016'] + df['2017']

0    $125,000.00$162,500.00
1    $920,000.00$101,200.00
2      $50,000.00$62,500.00
3    $350,000.00$490,000.00
4      $15,000.00$12,750.00
dtype: object

In [124]:
df1 = df1.convert_objects(convert_numeric=True)

/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use DataFrame.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

## what's wrong

- The Customer Number is a float64 but it should be an int64
- The 2016 and 2017 columns are stored as objects, not numerical values such as a float64 or int64
- Percent Growth and Jan Units are also stored as objects not numerical values
- We have Month , Day and Year columns that should be converted to datetime64
- The **Active** column should be a boolean

In [115]:
df1['Customer Number'].astype('int') #convert into int type
df1['Customer Number'] = df1['Customer Number'].astype('int')

df1.dtypes

Customer Number     int64
Customer Name      object
2016               object
2017               object
Percent Growth     object
Jan Units          object
Month              object
Day                object
Year               object
Active             object
dtype: object

In [116]:
def convert_currency(val):
    """
    Convert the string number value to a float
     - Remove $
     - Remove commas
     - Convert to float type
    """
    new_val = val.replace(',','').replace('$', '')
    return float(new_val)

In [117]:
df1['2016'].apply(convert_currency)

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
Name: 2016, dtype: float64

In [118]:
df['2016'].apply(lambda x: x.replace('$', '').replace(',', '')).astype('float')

0    125000.0
1    920000.0
2     50000.0
3    350000.0
4     15000.0
dtype: float64

In [119]:
df1['2016'] = df['2016'].apply(convert_currency)
df1['2017'] = df['2017'].apply(convert_currency)

In [120]:
df1.dtypes

Customer Number      int64
Customer Name       object
2016               float64
2017               float64
Percent Growth      object
Jan Units           object
Month               object
Day                 object
Year                object
Active              object
dtype: object

In [121]:
df1['Percent Growth'].apply(lambda x: x.replace('%', '')).astype('float') / 100

0    0.30
1    0.10
2    0.25
3    0.04
4   -0.15
Name: Percent Growth, dtype: float64

In [122]:
df1["Active"] = np.where(df1["Active"] == "Y", True, False)

In [125]:
df1.dtypes

Customer Number      int64
Customer Name       object
2016               float64
2017               float64
Percent Growth      object
Jan Units          float64
Month                int64
Day                  int64
Year                 int64
Active                bool
dtype: object

In [129]:
df1['Percent Growth'].apply(lambda x: x.replace('%', '')).astype('float') / 100

0    0.30
1    0.10
2    0.25
3    0.04
4   -0.15
Name: Percent Growth, dtype: float64

In [131]:
df1.dtypes

Customer Number      int64
Customer Name       object
2016               float64
2017               float64
Percent Growth      object
Jan Units          float64
Month                int64
Day                  int64
Year                 int64
Active                bool
dtype: object

In [132]:
df1["Active"] = np.where(df1["Active"] == "Y", True, False)

/anaconda3/lib/python3.7/site-packages/pandas/core/ops.py:1649: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  result = method(y)

In [134]:
df1["Percent Growth"] = pd.to_numeric(df1["2nd"])

Customer Number      int64
Customer Name       object
2016               float64
2017               float64
Percent Growth      object
Jan Units          float64
Month                int64
Day                  int64
Year                 int64
Active                bool
dtype: object