In [30]:
"""
An example illustrating how to index pandas DataFrames. 
"""
import numpy as np
import pandas as pd

mtns = pd.DataFrame([
    {'name': 'Mount Everest',
        'height (m)': 8848,
        'summited': 1953,
        'mountain range': 'Mahalangur Himalaya'},
    {'name': 'K2',
        'height (m)': 8611,
        'summited': 1954,
        'mountain range': 'Baltoro Karakoram'},
    {'name': 'Kangchenjunga',
        'height (m)': 8586,
        'summited': 1955,
        'mountain range': 'Kangchenjunga Himalaya'},
    {'name': 'Lhotse',
        'height (m)': 8516,
        'summited': 1956,
        'mountain range': 'Mahalangur Himalaya'},
])
mtns.set_index('name', inplace=True)

In [36]:

#dataframe of the highest mountains in the world
print(mtns)

               height (m)          mountain range  summited
name
Mount Everest        8848     Mahalangur Himalaya      1953
K2                   8611       Baltoro Karakoram      1954
Kangchenjunga        8586  Kangchenjunga Himalaya      1955
Lhotse               8516     Mahalangur Himalaya      1956

In [48]:
#select a colimn by a name (label)

print(mtns.loc[:, 'summited']) #gives only summited column in the form of a series
print()# make space between e/ print statement
print(mtns.loc[:, 'summited'].values)#if we want an array of nums, add .values
print()
print(mtns.loc['K2', :])# select a row by label
# here we are interested in all the rows, so we include the colon (:)
#retuns a series

name
Mount Everest    1953
K2               1954
Kangchenjunga    1955
Lhotse           1956
Name: summited, dtype: int64

[1953 1954 1955 1956]

height (m)                     8611
mountain range    Baltoro Karakoram
summited                       1954
Name: K2, dtype: object

In [35]:
#select a row by position

print(mtns.iloc[0,:])

height (m)                       8848
mountain range    Mahalangur Himalaya
summited                         1953
Name: Mount Everest, dtype: object

In [ ]:
# select a row and column value by position

mtns.il